

# Ignora bin/obj de QUALQUER projeto
*/bin/
*/obj/

# Pacotes do NuGet
packages/

# Arquivos de usuário do Visual Studio
*.suo
*.user
.vs/

# Pacotes (se você ainda os tiver no repo, o que não é ideal)
*/packages/

# Arquivo de segredos
secrets.config

# Ignorar arquivos de designer de config
secrets.Designer.cs